mixin compareInterval(start, end)
	if (start.getUTCDate() == end.getUTCDate() && start.getUTCMonth() == end.getUTCMonth() && start.getUTCFullYear() == end.getUTCFullYear())
		!= ('0' + start.getUTCDate()).slice(-2) + '/' + ('0' + (start.getUTCMonth() + 1)).slice(-2) + '/' + ('0' + start.getUTCFullYear()).slice(-2)
	else
		!= ('0' + start.getUTCDate()).slice(-2) + '/' + ('0' + (start.getUTCMonth() + 1)).slice(-2) + '/' + ('0' + start.getUTCFullYear()).slice(-2)
		!= ' - '
		!= ('0' + end.getUTCDate()).slice(-2) + '/' + ('0' + (end.getUTCMonth() + 1)).slice(-2) + '/' + ('0' + end.getUTCFullYear()).slice(-2)

mixin eventsList(events)
	each event in events
		a.content_item.event(href='/albums/' + event._id, style='background-image: url(' + (event.images && event.images.length > 0 && event.images[0].original) + ')' )
				.item_description.ttt3
					.item_title= event.i18n.title.get(locale)