doctype html
html
	head
		include vars
		include header
	body
		include counters
		.main_block
			.header_block
				.header_inner
					a.header_logo(href='/') A M A N I T A
					.option_row
					.options_block
						a.option.menu_item.works(href='/#works')= __('Работы')
						a.option.menu_item(href='/about')= __('Биография')
						//-.option.menu_item.about= __('Биография')
						//-.option.menu_item.contacts= __('Контакты')
						a.option.menu_item(href='/news')= __('Пресса')
						//-.option.menu_press.menu_item= __('Пресса')
						.option.menu_item(href='#')= __('Выставки')

						.social_block
							a.fb(href='https://www.facebook.com/amanita.erashov') 
							a.inst(href='https://instagram.com/amanitaartist/')  

						a.option.option_contacts(href="mailto:info@amanita.gallery") info@amanita.gallery

						if (locale == 'ru')
							a.option.lang(href='/lang/en') EN
						else
							a.option.lang(href='/lang/ru') RU

					a.banner_block(href='http://www.worksonpaperfair.com/')
						img(src='/images/design/wop.jpg')




			#works.content_block
				.content_columns_block
					.content_column.main
						.column_main_inner
							block content