doctype html
html
	head
		include vars
		include header
	body
		include counters
		.main_block
			.header_block
				.header_inner
					a.header_logo(href='/') AMANITA
					.menu_block.right
						.options_block
							//-.option.menu_item.about= __('Обо мне')
							//-.option.menu_item.contacts= __('Контакты')
							.option.name Alexander Yerashov
							.option.menu_item Contacts
							//-if (locale == 'ru')
								a.option.lang(href='/lang/en') EN
							//-else
								a.option.lang(href='/lang/ru') RU
			.content_block
				.content_columns_block
					.content_column.main
						.column_main_inner
							block content
							.footer_block
								.footer_block_inner= __('©A M A N I T A 2015')
					.content_column.scroll
						block scroll