doctype html
html
	head
		include vars
		include header
	body
		include counters
		.main_block
			.header_block
				.header_inner
					a.header_logo(href='/') A M A N I T A
					.option_row
					.options_block
						a.option.menu_item.works(href='/#works')= __('Работы')
						.option.divider /
						.option.menu_item.about= __('Биография')
						.option.divider /
						.option.menu_item.contacts= __('Контакты')
						.option.divider /
						if (locale == 'ru')
							a.option.lang(href='/lang/en') EN
						else
							a.option.lang(href='/lang/ru') RU
			#works.content_block
				.content_columns_block
					.content_column.main
						.column_main_inner
							block content