doctype html
html
	head
		include vars
		include header
	body
		include counters
		.main_block
			.header_block
				.header_inner
					a.header_logo(href='/') A M A N I T A
					.option_row
					.options_block

						a.option.menu_item.works(href='/#works')= __('Работы')
						.option.divider /
						a.option.menu_item(href='/about')= __('Биография')
						.option.divider /
						a.option.menu_item(href='/news')= __('Пресса')
						.option.divider /
						.option.menu_item(href='#')= __('Выставки')
						.option.divider /
						if (locale == 'ru')
							a.option.lang(href='/lang/en') EN
						else
							a.option.lang(href='/lang/ru') RU

						a.social.fb(href='https://www.facebook.com/amanita.erashov') 
						a.social.inst(href='https://instagram.com/amanitaartist/')  

				a.option.option_contacts(href="mailto:info@amanita.gallery") info@amanita.gallery


				a.banner_block(href='http://www.worksonpaperfair.com/')
						img(src='/images/design/wop.jpg')




			#works.content_block
				.content_columns_block
					.content_column.main
						.column_main_inner
							block content