body
	color #fff
p
	margin 0
	padding 0
.content_column
	margin-top 0!important
.content_block
	width 100%
	.content_column.main
		.column_main_inner
			overflow hidden
			.form_info
				width 44%
				float left
			form
				width 56%
				float left

.header_block
	display none
.form_block
	p
		&.name
			font 17pt/19pt 'code_pro_lightregular'
			margin-bottom 20px
	p a
		font 14pt/17pt 'code_pro_lightregular'
		text-align left
		margin 0 0 10px
		color #fff
	.email
	.social_block a
		margin 5px 0
form
	input
		width 470px!important
		border 1px solid rgba(221, 221, 221, 0.4);
		margin 0px auto 20px
		background rgba(208, 208, 208, 0.2)
		display block!important
		font 12pt/14pt 'code_pro_lightregular'
		color #fff
		padding 5px
		&:focus
			border-color #f00
			outline none
		&[type="submit"]
			width 480px!important
			margin-top 30px
			font-size 14pt
			height 50px

	.wysiwyg-container.editor
		width 470px!important
		border 1px solid rgba(221, 221, 221, 0.4);
		margin 0px auto 20px
		background rgba(208, 208, 208, 0.2)
		font 12pt/14pt 'code_pro_lightregular'
		color #fff
		padding 5px
		height 197px
		.wysiwyg-editor
			height 150px

	.wysiwyg-toolbar-icon
		color #fff


input
	height 40px

.en
	display none!important

.form_title
	width 480px
	margin 0 auto 7px
	line-height 14pt

.form_block
	padding-bottom 0