.content_item
	width 42%
	float left
	height 31vw
	overflow hidden
	text-decoration none
	color black
	display block
	background-size contain
	background-position 50%
	margin-bottom 2vmin
	margin-left 2%
	margin-right 2%
	background-repeat no-repeat
	cursor pointer
	font-size 24px
	line-height 25px
	&.news
		//-width 100%!important
		height auto
		//-color #fff
		font-size 15px
		line-height 17px
		&:hover
			background transparent!important
			color #dadada
			transition-timing-function linear
			transition-duration .3s
			.item_title
			.item_date
				color #ca0000
				transition-timing-function3 linear
				transition-duration .3s
		.item_description
			.item_title
			.item_date
				font-size inherit
				line-height inherit
				display inline!important
				&:after
					content '|'
					display inline-block
					padding 0 10px
			.item_title
				&.item_name
					&:after
						content ''
		.hide
			display none
	@media screen and (max-aspect-ratio: 2/2)
		width 46%
	.item_image
		width 30vh
		display block
	.item_description
		padding-top 10px
		display none
		display table
		height 100%
		width 100%
		.item_date
			display none
		.item_title
			font-weight 200
			display none
			vertical-align middle
			text-align center
	&.important
		background-size cover
		background-position center
		width 100vmin
		height 70vmin
		width 100vw
		height 70vw
		&:hover
			background #f00!important
			color #000
		.item_description
			background transparent
			box-sizing border-box
			width 480px
			position absolute
			bottom 0
			.item_date
				font 10pt/12pt 'code_pro_lightregular'
			.item_title
				font 36pt/38pt 'code_pro_lightregular'
				font-weight 200
	&.special_important
		width 100vmin
		height 70vmin
		&:hover
			background #fff!important
			color #f00
		.item_description
			background transparent
			box-sizing border-box
			width 100vmin
			position absolute
			bottom 0
			.item_date
				font 10pt/12pt 'code_pro_lightregular'
			.item_title
				font 36pt/38pt 'code_pro_lightregular'
				font-weight 200
	&:hover
		background #000!important
		color #fff
		.item_description
			.item_title
				display table-cell