h1, h2, h3, h4, h5
	font-weight normal
	line-height 1em
	margin 0

h1
	padding 35px 0 10px

h2
	padding 30px 0 8px

h3
	padding 20px 0 5px

body
	margin 0
	padding 0
	font 1.2vmax/1.4vmax 'code_pro_lightregular', 'Arimo'
	font-weight 400
	overflow hidden
	background #f8f8f8

html, body, .main_block, .content_block, .content_columns_block, .content_column, .column_inner_block
	height 100%

.header_block
	position absolute
	background #f8f8f8
	color #000
	z-index 10
	left 30px
	right 30px
	&.black_header
		background transparent
		color #fff

.search_block
	width 100%
	display none
	padding-bottom 5px

.search_input
	display block
	width 100%
	font-size 20pt
	color white
	background-color rgba(0, 0, 0, 0)
	border 0
	margin 0
	padding 0
	outline none
	padding-bottom 5px
	border-bottom 1px solid white
	font-family 'code_pro_lightregular'

.search_result
	width 100%
	margin-top 10px
	display none
	color white
	a
		color white

.search_context
	display none
	margin-bottom 20px

.context_title
	border 1px solid white
	display inline-block
	padding-left 5px
	padding-right 5px

.context_result
	display block
	text-decoration none
	margin-top 10px
	font 14pt/16pt 'Roboto'
	&:hover
		color rgb(196, 20, 59)

.header_inner
	width 87vmax
	margin 1.5vmax auto
	overflow hidden
	@media screen and (max-aspect-ratio: 2/2)
		width 87vmin
		margin 1.5vmin auto
	.header_logo
		font-size 2.4vmax
		line-height 2.7vmax
		color #000
		text-decoration none
		text-align center
		display block
		font-weight bold
		transition-timing-function linear
		transition-duration 0.6s
		transition-property background,color
		&:hover
			color #f00
		@media screen and (max-aspect-ratio: 2/2)
			font-size 4vmin
			line-height 4.2vmin

.social_block
	margin 0 auto 100px
	text-align center
	width 197px
	a
		color white
		font 25px/25px 'Icons'
		margin-right 5px
		width 25px
		text-decoration none
		&:hover
			color #f00
		&.fb
			margin-right 0
			margin-left 4px
		&.inst
			display inline-block
			margin 0 3px
		&.vk
			display inline-block
			margin-right 0

.options_block
	margin-top 1vmax
	text-align center
	font-weight bold
	.option
		margin-right 10px
		cursor pointer
		display inline-block
		@media screen and (max-aspect-ratio: 2/2)
			font-size 2vmin
			line-height 2vmin
		&:hover
			color #f00
		&.lang
			color #000
			text-decoration none
			&:hover
				color #f00
		&.search
			width 25px
			height 25px
			font 25px/25px 'Icons'
			background-size cover
		&.menu_option
			font-family 'menu'
			&:hover
				color #f00

.content_columns_block
	overflow hidden
	margin 0 auto

.content_column
	box-sizing border-box
	&.main
		overflow hidden
		.content_title
			margin-bottom 2vmax
			font-size 2.4vmax
			line-height 2.7vmax
			font-weight bold
			letter-spacing 0.34vmax
			text-align center
			position fixed
			top 8vmax
			left 30px
			right 30px
			background #f8f8f8
			z-index 100
			@media screen and (max-aspect-ratio: 2/2)
				top 11vmin
				margin-bottom 2vmin
				font-size 4vmin
				line-height 4.2vmin
				letter-spacing 0.34vmin
		.column_main_inner
			overflow-y hidden
			overflow-x hidden
			height 100%
		.content_outer_block
			margin 0 auto
			width 90vmax
			@media screen and (max-aspect-ratio: 2/2)
				width 90vmin
			.content_outer_block_inner
				margin-top 6vmax
				position relative
				@media screen and (max-aspect-ratio: 2/2)
					margin-top 6vmin
.content_navigate_block
	overflow hidden
	.navigate_title
		font-size 12pt
		float left
		font-weight bold
		margin-bottom 5px
		margin-top 18px
	.navigate_items_block
		float left
		.navigate_item
			padding-left 4px
			padding-right 4px
			margin-left 5px
			margin-right 11px
			font-size 40pt
			line-height 42pt
			cursor pointer
			margin-bottom 5px
			position relative
			text-transform uppercase
			&:after
				content ''
				position absolute
				left 100%
				font-size 27pt
				top 0px
				background transparent
				padding 0px 3px 0px 10px
				line-height 42pt
				color #f00
				@media screen and (max-width: 1280px)
					height 21px
					line-height 23px
			&:hover
				color #9b9b9b
			&.selected
				color #f00
				&:after
					content '✕'
.footer_block
	font 10pt/12pt 'code_pro_lightregular'
	padding-bottom 4px
	text-align center
	position fixed
	bottom 0
	left 0
	right 0
	background #fff
	.social_block
		float none
		display block
		text-align center
		a
			float none
			display inline-block
			color #000
	.footer_block_inner
		width 540px
		margin 12px auto 10px