.content_column.main
	.content_outer_block
		.content_outer_block_inner
			margin-top 4vw
			@media screen and (max-aspect-ratio: 2/2)
				margin-top 4vh

:target
	.screen_block
		&.info_block
			opacity 0
			z-index -100

	.content_outer_block
		opacity 1

	.content_column.main .column_main_inner
		overflow-y scroll

.screen_block
	height 100%
	&.info_block
		width 100%
		position absolute
		overflow hidden
		z-index 200
		top 0
		bottom 0
		height auto
		@media screen and (max-aspect-ratio: 2/2)
			top 10vh
		.content_slider
			width 100%
			@media screen and (max-aspect-ratio: 2/2)
				/*width 90vh*/
			height 100%
			margin 0 auto
			position relative
			.content_scroll_item
				position absolute
				display block
				top 5px
				left 0
				right 20px
				bottom 4vw
				color #000
				transition-timing-function linear
				transition-duration .4s
				transition-property color
				background-size contain
				background-repeat no-repeat
				background-position 50%
				.content_image_description
					position absolute
					width 100%
					text-align center
					top 100%
					margin-top 1.4vw
					@media screen and (max-aspect-ratio: 2/2)
						margin-top 0vh
						font-size 2vh
				&:hover
					color #f00

	&.about_block
		position absolute
		overflow-y auto
		width 100%
		background rgba(0,0,0,0.85)
		color #fff
		display none
		z-index 200
		.about_block_inner
			overflow-y visible
			width 80vw
			max-width 700px
			margin 63px auto 0
			.about_block_image
				background #fff
				width 280px
				height 280px
				margin 0 auto 50px
				img
					padding 10px
					display block
					width 260px
					height 260px
		.about_text_inner
			padding-bottom 50px
			p
				text-align justify
		.form_block
			width 600px;
			border 1px solid
			margin 40px auto 0
			height 230px
			margin-bottom 20px
			background rgba(208, 208, 208, 0.2)
			display block
			color #fff
			padding 5px
	&.contacts_block
		position absolute
		//overflow-y auto
		width 100%
		background rgba(0,0,0,0.85)
		color #fff
		display none
		z-index 200
		.about_block_inner
			overflow-y visible
			width 880px
			margin 63px auto 0
			iframe
				@media screen and (max-aspect-ratio: 2/2)
					width 80vw
			.about_block_image
				img
					margin 0 auto
					display block
					width 240px
					margin-bottom 55px
		.about_text_inner
			p
				text-align center
				margin 0 0 10px
				padding 0
				a
					color #fff
					&:hover
						color #f00
		.form_block
			width 600px;
			border 1px solid
			margin 40px auto 0
			margin-bottom 20px
			background rgba(208, 208, 208, 0.2)
			display block
			color #fff
			padding 5px
			&:focus
				border-color #f00
				outline none
		textarea
			height 230px
		input
			height 40px
.goto_down a
	position fixed
	bottom 0
	color #fff
	text-align center
	width 100%
	font-size 30px
	line-height 60px
	top 0
	left 0
	right 0
	z-index -1
	cursor pointer
	&:after
		position fixed
		content ''
		top 40px
		right 40px
		background-color #fc0
		width 30px
		height 30px
		background url("/images/design/cross.png") 0 0 no-repeat
		background-size 60px
	&:hover
		&:after
			opacity 0.8

.content_outer_block
	transition opacity 0.2s ease-in-out
	overflow hidden
	opacity 0
.content_item
	&.event
		float left
		position relative
		.item_date
			margin-top 10px
			color #B8B8B8
		&:last-child
			margin-bottom 0px
			border-bottom 1px solid #B8B8B8
		&:hover
			background-color rgb(240, 240, 240)
.item_fancy
	position absolute
	display block
	top 0
	left 0
	right 0
	bottom 0
	z-index 100
	&:nth-child(1)
		z-index 200
.content_news_block
	width 220px
	position absolute
	left 720px
	margin-bottom 20px
		max-width 490px