.header_block
.footer_block
	display none

.content_outer_block
	visibility hidden

.container
	background-size contain
	line-height 88.3vmin
	height 100vmin
	width 100vmin
	margin 0 auto
	text-align center
	font-weight bold
	font-size 15vmin
	color #fff
	position relative
	background #fff
	@media screen and (max-aspect-ratio 1/1)
		position absolute
		top 50%
		margin-top -50vmin
		font-size 13.4vmin

.inner
	color #000
	transition-timing-function linear
	transition-duration 0.6s
	transition-property background, color
	font-size 13.4vmin
	background #fff
	cursor pointer
	&:hover
		color #f00

.pers
	position absolute
	width 10vmin
	height 15vmin
	display block
	background-position 50%
	background-size contain
	background-repeat no-repeat
	margin-top -2vmin
	&.pers1
		background-image url(/images/design/main/01.png)
		top 5.7vmin
		left 49.7vmin
		width 10vmin
		height 15vmin
	&.pers2
		background-image url(/images/design/main/02.png)
		top 6vmin
		width 10vmin
		height 15vmin
		left 58.8vmin
	&.pers3
		background-image url(/images/design/main/03.png)
		top 6vmin
		width 10vmin
		height 14vmin
		left 67.8vmin
	&.pers4
		background-image url(/images/design/main/04.png)
		top 8.2vmin
		width 16vmin
		height 24vmin
		left 6.5vmin
	&.pers5
		background-image url(/images/design/main/05.png)
		top 5.7vmin
		width 28vmin
		height 15vmin
		left 23.3vmin
	&.pers6
		background-image url(/images/design/main/06.png)
		top 6vmin
		width 11vmin
		height 14vmin
		left 74.8vmin
	&.pers7
		background-image url(/images/design/main/07.png)
		top 6vmin
		width 9.8vmin
		height 14vmin
		left 83.4vmin
	&.pers8
		background-image url(/images/design/main/08.png)
		top 89vmin
		width 5vmin
		height 8vmin
		left 59.8vmin
	&.pers9
		background-image url(/images/design/main/09.png)
		top 64.5vmin
		width 17vmin
		height 32.7vmin
		left 58vmin
	&.pers10
		background-image url(/images/design/main/10.png)
		top 64vmin
		width 24.3vmin
		height 16.5vmin
		left 68.8vmin
	&.pers11
		background-image url(/images/design/main/11.png)
		top 79.2vmin
		width 22.2vmin
		height 18.5vmin
		left 71.8vmin
	&.pers12
		background-image url(/images/design/main/12.png)
		top 53.6vmin
		width 3.6vmin
		height 6.2vmin
		left 46.4vmin
	&.pers13
		background-image url(/images/design/main/13.png)
		top 20.8vmin
		width 7.5vmin
		height 6.2vmin
		left 43.1vmin
	&.pers14
		background-image url(/images/design/main/14.png)
		top 73vmin
		width 2.4vmin
		height 4vmin
		left 35.9vmin
	&.pers15
		background-image url(/images/design/main/15.png)
		top 20.7vmin
		width 3.8vmin
		height 5.5vmin
		left 36.3vmin
	&.pers16
		background-image url(/images/design/main/16.png)
		top 31.6vmin
		width 3.8vmin
		height 5.5vmin
		left 76.6vmin
	&.pers17
		background-image url(/images/design/main/17.png)
		top 28.2vmin
		width 7.8vmin
		height 4.5vmin
		left 83.5vmin
	&.pers18
		background-image url(/images/design/main/18.png)
		top 35.2vmin
		width 8.8vmin
		height 4.5vmin
		left 82.7vmin
	&.pers19
		background-image url(/images/design/main/19.png)
		top 6.5vmin
		width 9.8vmin
		height 4.5vmin
		left 6.2vmin
	&.pers20
		background-image url(/images/design/main/20.png)
		top 16.3vmin
		width 4.8vmin
		height 2.5vmin
		left 6.2vmin
	&.pers21
		background-image url(/images/design/main/21.png)
		top 22.3vmin
		width 7.7vmin
		height 3.6vmin
		left 6.2vmin
	&.pers22
		background-image url(/images/design/main/22.png)
		top 26.3vmin
		width 7.7vmin
		height 7.6vmin
		left 6.2vmin
	&.pers23
		background-image url(/images/design/main/23.png)
		top 58.7vmin
		width 59.5vmin
		height 38.6vmin
		left 8vmin
	&.pers24
		background-image url(/images/design/main/24.png)
		top 85.7vmin
		width 9.8vmin
		height 13vmin
		left 6.1vmin
	&.pers25
		background-image url(/images/design/main/25.png)
		top 87vmin
		width 14vmin
		height 11vmin
		left 28.1vmin
	&.pers26
		background-image url(/images/design/main/26.png)
		top 85vmin
		width 15vmin
		height 13vmin
		left 16.1vmin
	&.pers27
		background-image url(/images/design/main/19.png)
		top 58.8vmin
		width 9.8vmin
		height 4.5vmin
		left 81.4vmin
	&.pers28
		background-image url(/images/design/main/15.png)
		top 64.3vmin
		width 3.8vmin
		height 5.5vmin
		left 36.9vmin
	&.pers29
		background-image url(/images/design/main/13.png)
		top 64.3vmin
		width 7.5vmin
		height 6.2vmin
		left 43.8vmin
	&.pers30
		background-image url(/images/design/main/21.png)
		top 66vmin
		width 7.7vmin
		height 3.6vmin
		left 6.8vmin
	&.pers31
		background-image url(/images/design/main/22.png)
		top 69.7vmin
		width 7.7vmin
		height 7.6vmin
		left 6.7vmin
	&.pers32
		background-image url(/images/design/main/20.png)
		top 60vmin
		width 4.8vmin
		height 2.5vmin
		left 6.9vmin