body
	-webkit-font-smoothing antialiased
.slider
	width 950px
	height 480px
	background #fff
	margin 20px auto 40px
	position relative
  .slider_image
		height 480px
		overflow hidden
		background-size cover
		position absolute
		background-position 50%
		top 0
		left 0
		width 100%
		transition-property opacity
		transition-duration 2s
		transition-timing-function ease-in-out
		opacity 0
		.content_image_description
			display none

.about
	width 950px
	margin 0px auto
	h1
		font-size 18px
		line-height 18px
		font-weight bold
	.about_inner
		margin-top 20px