.slider
	height 480px
	background #fff
	position relative
  .slider_image
		height 480px
		overflow hidden
		background-size cover
		position absolute
		background-position 50%
		top 0
		left 0
		width 100%
		transition-property opacity
		transition-duration 2s
		transition-timing-function ease-in-out
		.content_image_description
			display none

.about
	margin-top 50px