.content_outer_block
	opacity 1
	width 100%
	max-width 1310px

.hide
	display none

.content_item
	color #000
	text-decoration none
	box-sizing border-box
	background-color #fff
	height auto
	overflow hidden
	margin-left 0
	.item_description
		padding 10px
	.item_title
		display inline!important
		font 15pt/17pt 'kamerik_bold'!important
	.item_date
		float left
		color #b8b8b8
		margin-top 5px

	.item_body
		margin-top 5px
		font-weight normal
		.body
			font-weight normal
			b
				font-weight normal

	&:hover
		background-color #f0f0f0
