.content_outer
	.content_subtitle
		min-height 450px
		overflow hidden
		margin-bottom 40px
		background-size cover
		background-position 50%
		position relative
		&:after
			position absolute
			top 0
			bottom 0
			right 0
			left 0
			z-index 1
			display block
			content ''
			background rgba(0, 0, 0, 0.54)
		.content_subtitle_inner
			padding-top 75px
			margin-left 170px
			margin-right 170px
			padding-bottom 10px
			color #fff
			z-index 2
			font 36px/42px 'PT Sans'
			font-weight bold
			border-bottom 1px solid rgba(255, 255, 255, 0.4)
			position relative
			z-index 10
		.content_decription
			margin-left 170px
			margin-right 170px
			color #fff
			padding 10px 0
			border-bottom 1px solid rgba(255, 255, 255, 0.4)
			position relative
			z-index 10
		.content_quiz
			padding 14px 11px
			width 240px
			display block
			text-align center
			color #000
			text-decoration none
			font-size 19px
			margin 20px auto 75px
			background rgba(255,255,255,0.8)
			position relative
			z-index 10
			&:hover
				background #fff
	.content_test
		display none
&:target
	.content_subtitle
		display none
	.content_test
		display block
iframe
	width 100%
	border none
	height 1200px

.content_test
	&.content_slider
		width 945px
		position relative
		overflow hidden
		@media screen and (max-width: 1280px)
			width 720px
		.content_photo
			position relative
			width 100%
			display none
			overflow hidden
			min-height 740px
			@media screen and (max-width: 1280px)
				min-height 580px
			&:nth-child(1)
				display block
			.content_image_hover
				height 630px
				background-position 50%
				background-size contain
				background-repeat no-repeat
				background-color #e5e5e5
				cursor pointer
				@media screen and (max-width: 1280px)
					height 540px
				&:hover
					&:after
						position absolute
						top 370px
						width 50px
						color #fff
						height 50px
						margin-top -25px
						font-size 50px
						line-height 50px
						right 10px
						text-align right
						content '>'
						@media screen and (max-width: 1280px)
							top 270px

			.content_image_description
				margin-top 20px
				padding 10px 0
				border-top 1px solid #b7b7b7
				color #555
				width 100%