.m_item.menu_subjects
  background: #FFF;
  color: #000 !important;

.header_block
	left 0
	top 0
	position absolute
	z-index 1000

.header_block_inner
	background transparent
	color #fff
	& a
		color #fff


.side_description
	position absolute
	top 70px
	top 55px
	bottom 0px
	left 0
	right 0
	right 0px
	color #fff

.side_description_inner
	height 100%
	width 1280px
	width 100%
	max-width 1280px
	margin 0 auto
	position relative

.side_description_column
	position absolute
	top 0
	//bottom 0
	right 0
	width 360px
	z-index 100000

.side_description_cross
	top 20px
	right 20px
	height 30px
	width 30px
	background url("/images/design/cross.png") 0 0
	background-size: auto 30px
	position absolute
	z-index 10000
	cursor pointer
	&:hover
		background-position 30px 0

.object_title
	position relative
	font-size 24px
	color #fff
	font-family ma_unitwlight
	padding 15px 60px 3px 20px
	background rgba(0,0,0,0.66)
	line-height 26px

.column_item_wrap
	background rgba(0,0,0,0.66)
	padding-bottom 15px

.column_item
	margin 0px 20px
	overflow hidden
	padding 10px 0
	&:last-child
		padding-bottom 15px
	a
		color #fff
		display inline-block
		&:hover
			color red
		&:after
			content ','
			margin-right 5px
		&:last-child:after
				content ''
				margin-right 0
	&.number
			font-size 26px
			border-bottom 1px solid
			padding 6px 0 10px
			line-height 28px
			margin-top 0

.subject_map:after
	content ''
	top 0
	left 0
	width 100%
	height 200px
	display block
	position absolute
	background url('/images/design/gr.png') 0 100% repeat-x
	background-size 1px 290px
	opacity 0.7

.content_block
	width 100%

.subject_title
	margin-top 10px

.subject_description
	font-size 16px
	font-family ma_unitwmedium
	line-height 22px
	padding 10px 0 5px 0

.subject_description_item
	padding-right 4px

.subject_description_title
	margin-top 10px
	padding-right 4px

.subject_description_description
	margin: 10px 0

.description_item_block
	clear both
	margin 0 20px 4px
	float none
	overflow hidden
	padding-top 10px


.subject_map
	width 100%
	position absolute
	top 0
	bottom 0

.footer_block
	background rgba(0, 0, 0, 0.6)
	color white
	transition 0.2s
	& .footer_sponsors_block
		border none
	& a
			color #fff
			&:hover
				color red

@media screen and (max-width:1280px) {
	.leaflet-control-container, , .side_description_inner {
		width: 1000px;
	}
}