.content_columns_block
	.content_column
		.content_title
			width 700px
			margin-bottom 30px
			&.fixedtitle
				margin-bottom 78px
		.subsidiary_menu
			margin-bottom 30px
			&.fixed
				position: fixed
				top 45px
				left 0
				right 0
				background #e5e5e5
				overflow hidden
				z-index 100
				.subsidiary_menu_inner
					width 1280px
					margin 0 auto
					@media screen and (max-width: 1280px)
						width 980px
					.subsidiary_logo
						width 55px
						background-size 125%
						background-position 0
						background-repeat no-repeat
						margin-right 10px
						float left
						height 49px
				a
					padding 16px 0
				@media screen and (max-width: 1280px)
					top 57px
			.subsidiary_menu_inner
				overflow hidden
				a
					color #555
					margin-right 20px
					display block
					float left
					&:hover
						color #333
	.anchor_base
		position relative
		div
			position absolute
			top -120px
			width 100px