extends ../../layout

block title
	title ПАРТНЕРЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title Партнеры
	br
	b
		a(href='/auth/partnership')= ' Редактировать вводную часть'
	br
	br
	a.add(href='/auth/partners/add') добавить материал
	br
	br
	.main_menu_block
		each partner in partners
			.officials
				a.rm_partner(href='#', id=partner._id)= 'удалить '
				!=' | '
				a(href='/auth/partners/edit/' + partner._id)= partner.i18n.title.get('ru')