extends ../layout

block title
	title= __('КОНТАКТЫ')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/about.css' + version)

//-block content_scripts


block content
	.about_block_inner
		.about_block_image
			img(src='/images/design/contacts/amanita.png')
		.about_text_inner
			if (locale == 'ru')
				include ../static/content/contacts/ru.html
			else
				include ../static/content/contacts/en.html