extends ../layout

block title
	title= __('ПАРТНЕРСТВО')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/partnership.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/partnership.js' + version)


block content
	.content_title= __('Партнерство')
	.block_official
		if (locale == 'ru')
			include content/partnership/ru.html
		else
			include content/partnership/en.html