extends ../../layout
include ../forms.jade

block title
	title РЕДАКТИРОВАТЬ ЧЛЕНА КОМАНДЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/libs/css/font-awesome.css')
	link(rel='stylesheet', type='text/css', href='/build/libs/css/wysiwyg-editor.css')
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/libs/js/wysiwyg.js')
	script(type='text/javascript', src='/build/libs/js/wysiwyg-editor.js')
	script(type='text/javascript', src='/build/js/add.js')

block content
	.form_block
		a.back_link(href='/auth/teams') < Назад
		button.toggle_eng(type='button') перевод
		.title РЕДАКТИРОВАТЬ ЧЛЕНА КОМАНДЫ
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Заголовок:
			+form_text_single('title', team)
			.form_title Номер:
			input(type='text', name='num', value=team.num)
			.form_title Должность:
			+form_text_single('position', team)
			.form_title Телефон:
			input(type='text', name='phone', value=team.phone, placeholder='+7 (495) 123-45-67')
			.form_title E-mail:
			input(type='text', name='email', value=team.email, placeholder='info@sovrhistory.ru')
			.form_title Изображение:
			input(type='file', name='image')
			br
			br
			input(type='submit', value='отправить')