extends ../../layout

block title
	title= 'КОМАНДА'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title= 'КОМАНДА'
	br
	a.add(href='/auth/teams/add') добавить члена команды
	br
	br
	.main_menu_block
		each team in teams
			.gallery
				a.rm_team(href='#', id=team._id)= 'удалить '
				!=' | '
				a(href='/auth/teams/edit/' + team._id)= team.i18n.title.get('ru') ? team.i18n.title.get('ru') + ' № ' + team.num : 'Имя члена команды'