include ../vars.jade

mixin trimString(str, length)
	if (str.length > length)
		span.body: != str.substr(0, length)
		span.etc ...
		span.hide= str.substr(length, str.length)
	- else
		span.body: != str

each service in services
	a.content_item.official.important(href='/services/' + service._id)
		.item_description
			.item_title= service.i18n.title.get(locale)
			.item_body: +trimString(item.i18n.description.get(locale).replace(/(<([^>]+)>)/ig, ''), 100)
			.item_date= service.date.getDate() + ' ' + months[service.date.getMonth()] + ' ' + service.date.getFullYear()