extends ../../layout
include ../forms.jade

block title
	title Оставить запись

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')
	link(rel='stylesheet', type='text/css', href='/build/css/add_static.css')

block content_scripts
	script(type='text/javascript', src='/build/js/contacts.js' + version)
	//-script(type='text/javascript', src='/build/js/upload.js')

block content
	- var year = new Date()
	- year = year.getFullYear()
	- var months = ['ЯНВАРЬ', 'ФЕВРАЛЬ', 'МАРТ', 'АПРЕЛЬ', 'МАЙ', 'ИЮНЬ', 'ИЮЛЬ', 'АВГУСТ', 'СЕНТЯБРЬ', 'ОКТЯБРЬ', 'НОЯБРЬ', 'ДЕКАБРЬ']
	.form_block
		.form_info
			p.name A M A N I T A
			p.email
				a(href="mailto:info@amanita.gallery") info@amanita.gallery
			.social_block
				a.fb(href='https://www.facebook.com/amanita.erashov') 
					span /amanita.erashov
				a.inst(href='https://instagram.com/amanitaartist/')  
					span @amanita.erashov



	#container
		.form_title= __('Email...')
		input#to(type='text')
		.form_title= __('Subject...')
		input#subject(type='text')
		.form_title= __('Message...')
		textarea#content(cols='40', rows='5')

		button#send_email= __('Send Email')
		span#message